<!-- <label>Server Name</label> -->
<!-- <input 
type="text" 
class="form-control"
(input)="onUpdateServerName($event)"
style="margin-bottom: 2rem; margin-top: 1rem;">
<hr> -->
<input
placeholder="Server Name or ID" 
type="text" 
class="form-control"
[(ngModel)]="serverName"
style="margin-bottom: 2rem; margin-top: 0.5rem;">
<hr>
<p>{{ serverName }}</p>
<div class="btn-toolbar">
        <div class="btn-group mr-2">
<button type="button" class="btn btn-success" style="padding: 0.5rem;"
(click)="onAddServer()">Add Server</button>
        </div>
        <div class="btn-group mr-2">
<button class="btn btn-danger" [disabled]="!allowRemoveServer" style="padding: 0.5rem;"
(click)="onRemoveServer()">Remove Server</button>
        </div>
</div>
<hr>
<!-- <p [innerText]="allowRemoveServer">Can you delete a server? {{ allowRemoveServer }}</p>
<p>Can you delete a server? {{ allowRemoveServer }}</p> -->
<p>{{ serverCreationStatus }}</p>
<div class="container" id="servers-list">
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<hr>
<input placeholder="User Name"
[(ngModel)]="userName"
class="form-control"
type="text"
style="margin-bottom: 2rem; margin-top: 0.5rem;">
<p>{{ userName }}</p>
<button class="btn btn-primary"
[disabled]="userName === ''"
style="padding: 0.5rem;"
(click)="onResetUserName()">
Reset User</button>
<hr>
<input placeholder="User Name"
[(ngModel)]="userName"
class="form-control"
type="text"
style="margin-bottom: 2rem; margin-top: 0.5rem;">
<p>{{ userName }}</p>
<button class="btn btn-primary"
[disabled]="!userName"
style="padding: 0.5rem;"
(click)="onResetUserName()">
<!-- (click)="userName = ''" -->
Reset User</button>
</div>